@import '../constants';

.container {
    //Size
    box-sizing: border-box;

    height: 100%;
    max-width: 500px;

    //Alignment
    margin: 0 auto;
    padding-top: 5%;
}

header {
    height: 20%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
        "title title title score"
        "bot bot bot new";

    h1 {
        grid-area: title;

        margin: 0;
        float: left;

        font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
        font-size: 80px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #score {
        grid-area: score;

        font-family: monospace;
        font-size: 50px;
        
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #bot {
        grid-area: bot;
    }

    #new {
        grid-area: new;
    }
}

main {
    box-sizing: border-box;
    
    height: 500px;
    width: 100%;

    border: 7px solid #B9AE9D;

    display: flex;
    flex-direction: column;

    .row {
        flex: 1;
        width: 100%;

        display: flex;
    }

    .col {
        flex: 1;

        box-sizing: border-box;
        border: 7px solid #B9AE9D;

        background: #CCC2B1;

        font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
        font-size: 3em;
        font-weight: bolder;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .two {
        background: #eee4da;
    }

    .four {
        background: #eee1c9;
    }

    .eight {
        background: #f3b27a;
    }

    .sixteen {
        background: #f69664;
    }

    .thirty-two {
        background: #f77c5f;
    }

    .sixty-four {
        background: #f75f3b;
    }

    .one-twenty-eight {
        background: #edd073;
    }

    .two-fifty-six {
        background: #edcc62;
    }

    .five-twelve {
        background: #edc950;
    }

    .thousand-twenty-four {
        background: #edc53f;
        font-size: 2em;
    }

    .two-thousand-fourty-eight {
        background: #edc22e;
        font-size: 2em;
    }
}

.btn {
    background: transparent;
    border: 5px solid #042030;
    
    font-family: monospace;
    font-size: 3vw;

    &:active {
        background: #000;
    }
}

.btn-active {
    background: #84a98c;
}

@media only screen and (max-width: 500px) {
    .container {
        padding: 0;
    }

    main {
        height: 100vw;
        width: 100vw;

        .one-twenty-eight, .two-fifty-six, .five-twelve {   
            font-size: 2em;
        }

        .thousand-twenty-four, .two-thousand-fourty-eight {
            font-size: 1em;
        }
    }
}