@import 'constants';

html, body {
    //Resets
    margin: 0;
    padding: 0;

    // Size
    height: 100%;
    width: 100%;
}

body {
    // Style
    background: #FAF8EF;
    color: #0C5C8A;

    user-select: none;
}

// Github Corner
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0);
    }

    20%, 60% {
        transform: rotate(-25deg);
    }

    40%, 80% {
        transform: rotate(10deg);
    }
}

@media (max-width:700px) {
    .github-corner {
        display: none;
    }
}